.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding: 0px;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 > button {
  padding: 2px;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 > button > span {
  padding: 0px;
  margin: 0px;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 > button > span > span {
  padding: 0px;
}
